<div id="detail">
<div class="headerBar"></div>
<div id="header">
<div class="titleHead">イベント詳細</div>
<a ng-click="back()" class="back">戻る</a>
<!-- #header --></div>
<div class="detailTitle" ng-class="{'event':detailData.event_flg, 'cup':!detailData.event_flg}">{{detailData.tournament_name}}</div>
<div class="photoBox">
<img src="images/no_image.png" alt="">
</div>
<dl class="detailBox">
<dt>大会日時</dt>
<dd>{{detailData.tournament_date}}<br>
{{detailData.start_time}}</dd>
<dt>会場</dt>
<dd>{{detailData.site_name}}<br>
{{detailData.address}}<br>
TEL：<a href="tel:{{ trimhyphen(detailData.tel) }}">{{detailData.tel}}</a>
<ui-gmap-google-map center='map.center' zoom='map.zoom' options="{draggable:false}" ng-show="map.show">
<ui-gmap-markers models="siteMarkers" coords="'coords'"></ui-gmap-markers>
</ui-gmap-google-map></dd>
<dt>参加資格</dt>
<dd>{{detailData.guest_status}}</dd>
<dt>お問い合わせ先</dt>
<dd>{{detailData.contact}}<br>
{{detailData.contact_address}}<br>
TEL：<a href="tel:{{ trimhyphen(detailData.contact_tel) }}">{{detailData.contact_tel}}</a></dd>
<dt>受付締切</dt>
<dd>{{detailData.entry_limit}}</dd>
<dt>大会詳細URL</dt>
<dd class="url"><a ng-click="openUrl('{{detailData.url}}')">{{detailData.url}}</a></dd>
</dl>
<div id="footer">
<p class="copyright">Copyright &copy; 2015 sanrokugo All rights reserved.</p>
</div>
<ng-include src="'include/ad_detail.html'"></ng-include>
<!-- #detail --></div>
