<script type="text/javascript">
  init();
</script>

<div id="detail">
<div id="header">
<div class="titleHead">イベント詳細</div>
<a ui-sref="search()" class="back">戻る</a>
<!-- #header --></div>
<div class="detailTitle cup">基本杯</div>
<div class="photoBox">
<img src="images/no_image.png" alt="">
</div>
<dl class="detailBox">
<dt>大会日時</dt>
<dd>平成27年7月1日（水）<br>
受付9時45分～　開始10時</dd>
<dt>会場</dt>
<dd>囲碁サロン碁的<br>
〒555-5555　碁的県碁的市5-5-5<br>
TEL：55-5555-5555</dd>
<dt>参加資格</dt>
<dd>満5歳以上</dd>
<dt>お問い合わせ先</dt>
<dd>GO AMIGO運営委員会<br>
〒151-5151　囲碁県囲碁市1-5-15<br>
TEL：<a href="tel:1515151515">15-1515-1515</a>
<ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map></dd>
<dt>受付締切</dt>
<dd>平成27年6月30日（火）</dd>
<dt>大会詳細URL</dt>
<dd class="url"><a href="http://goteki.jp/gotekihai/">http://goteki.jp/gotekihai/</a></dd>
</dl>
<div id="footer">
<p class="copyright">Copyright &copy; 2015 sanrokugo All rights reserved.</p>
</div>
<!-- #detail --></div>
