<div id="search">
<div id="header">
<div class="titleHead">検索結果</div>
<a ui-sref="top()" class="back">戻る</a>
<!-- #header --></div>
<ul class="reSearchBox">
<li>
<label>
<select>
<option value="選択してください">選択してください</option>
<option value="a" selected>東京都</option>
</select>
</label>
</li>
<li>
<label>
<select>
<option value="選択してください">選択してください</option>
<option value="a" selected>2015年7月</option>
</select>
</label>
</li>
<li>
<label>
<select>
<option value="選択してください">選択してください</option>
<option value="a" selected>満5歳以上</option>
</select>
</label>
</li>
</ul>
<div class="resultBox">
<a ng-repeat="result in resultList" ui-sref="detail" ng-class="(result.event_flg) ? 'event' : 'cup'" class="resultBlock">
<div class="detailTitle">{{result.data.tournament_name}}</div>
<ul>
<li>
<span>開催場所</span>
{{result.data.pref}}
</li>
<li>
<span>開催日時</span>
{{result.data.tournament_date}}
</li>
<li>
<span>参加資格</span>
{{result.data.guest_status}}
</li>
</ul>
</a>
<!-- .resultBox --></div>

<div id="footer">
<p class="copyright">Copyright &copy; 2015 sanrokugo All rights reserved.</p>
</div>
<!-- #search --></div>