<div id="search" ng-class="{loading: loading}">
<img src="images/loading_bg.png" class="loadingBg"><img src="images/loading_img.png" class="loadingImg">
<div class="headerBar"></div>
<div id="header">
<div class="titleHead">検索結果</div>
<a ng-click="back()" class="back">戻る</a>
<!-- #header --></div>
<ul class="reSearchBox">
<li class="pullDown">
<label>
<a>
<span>{{pref.text || 'お住まいの地域'}}</span>
<select name="pref" ng-model="pref" ng-options="pref.text for pref in prefList track by pref.value">
<option value="">選択してください</option>
</select>
</a>
</li>
<li class="pullDown">
<a>
<span>{{ year_month.text || '開催月'}}</span>
<select name="year_month" ng-model="year_month" ng-options="yearMonth.text for yearMonth in yearMonthList track by yearMonth.value">
<option value="">選択してください</option>
</select>
</a>
</li>
<li class="pullDown">
<a>
<span>{{guest_status.text || '参加資格'}}</span>
<select name="guest_status" ng-model="guest_status" ng-options="guestStatus.text for guestStatus in guestStatusList track by guestStatus.value">
<option value="">選択してください</option>
</select>
</a>
</li>
</ul>
<div class="resultBox">
<a href="javascript:;" class="arrowGet" ng-click="getBeforeTournaments()" ng-hide="isNoDateBefore"><img src="images/arrow_top.png"></a>
<a ng-repeat="result in resultList" ui-sref="detail({idx:$index})" ng-class="{'event':result.data.event_flg, 'cup':!result.data.event_flg}" class="resultBlock">
<div class="detailTitle">{{result.data.tournament_name}}</div>
<ul>
<li>
<span>開催場所</span>
<b>{{result.data.pref}}</b>
</li>
<li>
<span>開催日時</span>
<b>{{result.data.tournament_date}}</b>
</li>
<li>
<span>参加資格</span>
<b>{{result.data.guest_status}}</b>
</li>
</ul>
</a>
<a href="javascript:;" class="arrowGet" ng-click="getAfterTournaments()" ng-hide="isNoDateAfter"><img src="images/arrow_bottom.png"></a>
<!-- .resultBox --></div>

<div id="footer">
<p class="copyright">Copyright &copy; 2015 sanrokugo All rights reserved.</p>
</div>
<!-- #search --></div>