@charset "utf-8";


.demo.animated.ng-enter,
.demo.animated.ng-leave,
.demo.ng-move {
  -webkit-transition-duration: 0.5s;
	  display:block;
      position:absolute;
}
.demo.animated.ng-enter {
  width: 100%;
  left: 100%;
}
.demo.animated.ng-enter.ng-enter-active {
  left:0%;
}
.demo.animated.ng-leave {
  width: 100%;
  opacity: 1;
  left:0%;
}
.demo.animated.ng-leave.ng-leave-active {
  opacity: 0;
  left:-100%;
}

.demo.back.animated.ng-enter,
.demo.back.animated.ng-leave,
.demo.back.ng-move {
  -webkit-transition-duration: 0.5s;
	  display:block;
      position:absolute;
}
.demo.back.animated.ng-enter {
  width: 100%;
  left: -100%;
}
.demo.back.animated.ng-enter.ng-enter-active {
  left:0%;
}
.demo.back.animated.ng-leave {
  width: 100%;
  opacity: 1;
  left:0%;
}
.demo.back.animated.ng-leave.ng-leave-active {
  opacity: 0;
  left:100%;
}
/*.ng-move {
  opacity: .5;
}
.ng-move.ng-move-active {
  opacity: 1;
}*/

body {
}
/*---------------------------------------
common
----------------------------------------*/
img {
	max-width:100%;
	height:auto;
	border:none;
	vertical-align:middle;
}
/* #header */
#header {
	margin:0 auto;
	padding:20px 2.5% 0;
	width:100%;
	position:fixed;
	top:0;
	background-color:#FFBF06;
	z-index:10;
}
#header .titleHead {
	text-align:center;
	font-size:1.48rem;
	font-weight:bold;
}
#header a.back {
	margin:-23px 0 16px;
	padding-left:20px;
	width:20%;
	display:block;
	font-size:1.48rem;
	background:url(../images/arrow_back.png) no-repeat left center;
	background-size:13px 21px;
}
ul.reSearchBox {
	margin-bottom:13px;
	overflow:hidden;
}
ul.reSearchBox li.pullDown {
	margin:0;
	width:33%;
	float:left;
	background-color:#EEE;
	list-style:none;
}
ul.reSearchBox li:nth-child(2) {
	width:34%;
	border-right:1px solid #FFBF06;
	border-left:1px solid #FFBF06;
}
ul.reSearchBox li.pullDown a {
	position:relative;
	display:block;
	margin:0;
	padding:16px 5px;
	font-size:1.23rem;
	vertical-align:middle;
	text-decoration:none;
	text-align:center;
	color:#878787;
}
ul.reSearchBox li.pullDown a span.selected {
	color:#333;
}
ul.reSearchBox li.pullDown a select {
	opacity:0;
	display:block;
	width:100%;
	height:100%;
	position:absolute;
	left:0px;
	top:0px;
	z-index:1;
}
/* .copyright */
p.copyright {
	margin-bottom:13px;
	font-size:0.97rem;
	text-align:center;
}

/* .loading */
img.loadingBg,
img.loadingImg {
	display:none;
}
.loading {
	position:relative;
}
.loading img.loadingBg {
	position:fixed;
	top:0;
	left:0;
	display:block;
	width:100%;
	height:100%;
	z-index:20;
}
.loading img.loadingImg {
	margin:-43px 0 0 -43px;
	display:block;
	width:86px;
	height:86px;
	position:fixed;
	top:45%;
	left:50%;
	z-index:30;
	-webkit-animation: spin 1.5s linear infinite;
	animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
	0% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(360deg);}
}
@keyframes spin {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

/*---------------------------------------
body #top
----------------------------------------*/
#top {
	padding-bottom:50px;
}
#top img.mainLogo {
	margin:35px auto 4.99%;
	width:51.52%;
	display:block;
}
#top .searchBox {
	margin:0 auto 5%;
	width:80.51%;
}
#top .searchBox ul {
	margin-bottom:10px;
}
#top .searchBox ul li .searchTitle {
	margin-bottom:6px;
	padding-left:14px;
	font-size:1.48rem;
	font-weight:bold;
	line-height:1;
	background:url(../images/icon_select.png) no-repeat left center;
	background-size:12px;
}
#top .searchBox ul li select {
	margin-bottom:12px;
	padding:13px;
	width:100%;
	font-size:1.48rem;
	line-height:1;
	color:#878787;
	background:#FFF url(../images/arrow_select.png) no-repeat right center;
	background-size:38px;
	border:solid 2px #FFF;
	border-radius:9px;
}
#top .searchBox ul li select.selected {
	color:#333;
}
#top .searchBox .searchButton {
	padding:18px;
	width:100%;
	display:block;
	font-weight:bold;
	font-size:2.1rem;
	color:#FFF;
	background: #006DD9;
	background-image: -webkit-linear-gradient(top, #009BEE, #006DD9);
	background-image: -moz-linear-gradient(top, #009BEE, #006DD9);
	box-shadow:rgba(0, 0, 0, 0.3) 0px 3px 5px 0px;
	-webkit-box-shadow:rgba(0, 0, 0, 0.3) 0px 3px 5px 0px;
	-moz-box-shadow:rgba(0, 0, 0, 0.3) 0px 3px 5px 0px;
	border-radius:9px;
	text-align:center;
}
#top .searchBox .searchButton span {
	padding:10px 0 10px 30px;
	background:url(../images/icon_search.png) no-repeat left center;
	background-size:21px;
}
#top p.copyright {
	margin-bottom:5px;
}
/*---------------------------------------
body #search
----------------------------------------*/
#search {
	padding-top:60px;
}

#search .resultBox {
	margin:0 auto;
	width:93.39%;
}

#search .resultBox .arrowGet {
	margin-bottom:13px;
	padding:17px 0;
	display:block;
	text-align:center;
	background: #FFCC38;
	background-image: -webkit-linear-gradient(top, #FFDE6E, #FFCC38);
	background-image: -moz-linear-gradient(top, #FFDE6E, #FFCC38);
	box-shadow:rgba(0, 0, 0, 0.7) 2px 2px 2px -2px;
	-webkit-box-shadow:rgba(0, 0, 0, 0.7) 2px 2px 2px -2px;
	-moz-box-shadow:rgba(0, 0, 0, 0.7) 2px 2px 2px -2px;
	border-radius:4px;
}
#search .resultBox .arrowGet img {
	width:20px;
	height:13px;
}

#search .resultBox .resultBlock {
	margin-bottom:13px;
	display:block;
	background-color:#FFF;
	box-shadow:rgba(0, 0, 0, 0.3) 0px 3px 5px 0px;
	-webkit-box-shadow:rgba(0, 0, 0, 0.3) 0px 3px 5px 0px;
	-moz-box-shadow:rgba(0, 0, 0, 0.3) 0px 3px 5px 0px;
}
#search .resultBox .resultBlock:last-child {
	margin-bottom:20px;
}
#search .resultBox .resultBlock .detailTitle {
	padding:8px 8px 8px 38px;
	font-size:1.48rem;
	font-weight:bold;
	color:#FFF;
}
#search .resultBox .resultBlock.cup .detailTitle {
	background:#333 url(../images/icon_cup.png) no-repeat 10px center;
	background-size:22px;
}
#search .resultBox .resultBlock.event .detailTitle {
	background:#333 url(../images/icon_event.png) no-repeat 10px center;
	background-size:22px;
}
#search .resultBox .resultBlock ul {
	margin-right:10px;
	padding:9px 20px 9px 8px;
	background:url(../images/arrow_detail.png) no-repeat right center;
	background-size:13px 21px;
}
#search .resultBox .resultBlock ul li {
	margin-bottom:10px;
	font-size:1.23rem;
}
#search .resultBox .resultBlock ul li:last-child {
	margin-bottom:0;
}
#search .resultBox .resultBlock ul li span {
	margin-right:13px;
	padding:4px 8px;
	background-color:#CCC;
	text-align:center;
}

/*---------------------------------------
body #detail
----------------------------------------*/
#detail {
	padding:60px 0 50px;
}
#detail .detailTitle {
	padding:18px 12px 18px 42px;
	background-color:#333;
	font-weight:bold;
	font-size:1.53rem;
	color:#FFF;
}
#detail .detailTitle.cup {
	background:#333 url(../images/icon_cup.png) no-repeat 12px center;
	background-size:22px;
}
#detail .detailTitle.event {
	background:#333 url(../images/icon_event.png) no-repeat 12px center;
	background-size:22px;
}
#detail .photoBox {
	padding:13px 17px;
	background-color:#FFF;
}
#detail .photoBox img {
	width:100%;
	height:auto;
}
#detail dl.detailBox {
	margin-bottom:30px;
	background-color:#FFF;
}
#detail dl.detailBox dt {
	padding:7px 17px;
	font-size:1.23rem;
	font-weight:bold;
	background-color:#EEE;
}
#detail dl.detailBox dd {
	padding:9px 17px;
	font-size:1.23rem;
}
#detail dl.detailBox dd a {
	color:#00A3D9;
	text-decoration:underline;
}
#detail dl.detailBox dd #mapArea {
	margin-top:9px;
	height:200px;
}
#detail dl.detailBox dd.url a {
	display:block;
	background:url(../images/arrow_url.png) no-repeat right center;
	background-size:8px 13px;
	word-wrap:break-word;
}

















